---
// src/layouts/Layout.astro
import { Icon } from 'astro-icon/components';
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Portafolio de Armando Ochoa" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
	<Navbar />
        <!-- Barra lateral izquierda con redes sociales -->
        <aside class="left-sidebar">
            <a href="https://github.com/Armando8a-dev" target="_blank" rel="noopener noreferrer"><Icon name="simple-icons:github" /></a>
            <a href="https://www.linkedin.com/in/armando-ochoa-dev" target="_blank" rel="noopener noreferrer"><Icon name="simple-icons:linkedin" /></a>
            <!-- Agrega m치s redes si quieres -->
            <div class="line"></div>
        </aside>

        <!-- Barra lateral derecha con email 
        <aside class="right-sidebar">
            <a href="mailto:tu-email@correo.com" class="email-link">tu-email@correo.com</a>
            <div class="line"></div>
        </aside>
		-->

        <!-- El <slot /> es donde se insertar치 el contenido de cada p치gina -->
        <slot />

    </body>
</html>

<style>
    .left-sidebar, .right-sidebar {
        width: 40px;
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        z-index: 10;
    }

    .left-sidebar {
        left: 40px;
    }

    .right-sidebar {
        right: 40px;
    }

    .left-sidebar a, .right-sidebar a {
        color: var(--color-texto-secundario);
        transition: all 0.3s ease;
    }

    .left-sidebar a:hover, .right-sidebar a:hover {
        color: var(--color-primario);
        transform: translateY(-3px);
    }

    .left-sidebar :global(svg) {
        width: 20px;
        height: 20px;
    }

    .line {
        width: 1px;
        height: 90px;
        background-color: var(--color-texto-secundario);
    }

    .email-link {
        writing-mode: vertical-rl;
        letter-spacing: 0.1em;
        font-size: 0.8rem;
    }

    /* Ocultar barras laterales en pantallas peque침as */
    @media (max-width: 768px) {
        .left-sidebar, .right-sidebar {
            display: none;
        }
    }
</style>